<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mantenimiento - Editar cliente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
</head>

<body>
    <!-- Incluir el header desde el fragmento header.html -->
    <div th:include="~{fragments/header.html :: header}"></div>
    
    <div class="container">

        <h1 class="title is-3">Editar cliente</h1>
        <form th:action="@{/mantenimiento/clientes}" method="post">
            <input type="hidden" name="id" th:value="${cliente.id}"> <!-- Campo oculto para el ID del cliente -->
            <div class="field">
                <label class="label">Nombre:</label>
                <div class="control">
                    <input class="input" type="text" name="nombre" th:value="${cliente.nombre}" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Correo:</label>
                <div class="control">
                    <input class="input" type="email" name="email" th:value="${cliente.correo}" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Telefono:</label>
                <div class="control">
                    <input class="input" type="text" name="telefono" th:value="${cliente.telefono}" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Guardar</button>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <a class="button is-light" th:href="@{/mantenimiento/clientes}">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

</html>