<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
</head>
<body>
    <div th:include="~{fragments/header.html :: header}"></div>

    <main class="main-content">
        <section class="section">
            <div class="container">
                <h1 class="title">Página de Inicio</h1>
            </div>
        </section>
    </main>
</body>
</html>
